include AUTHORS
include README.rst
include LICENSE
recursive-include fluentcms_jumbotron/locale *.po *.mo
recursive-include fluentcms_jumbotron/static *.css *.js
recursive-include fluentcms_jumbotron/templates *.html
